html {
  height: 100%
}

body {
	height:100%;
	background-color: #e1e1e1;
	
	font-size: 1.6em;
	line-height: 1.5em;
}

@media (max-width: 767px) {
	font-size: 2.0em;
}

.navbar-top {
	padding-bottom: 50px;
}

.intro {
	padding-top: 70px;
}

.intro-content { 
	background-color: #f8f8f8;
	padding: 20px;
}

.intro-content img {
	width: 100%;
}

.intro-content-nopad {
	background-color: #f8f8f8;
	padding: 0;
}

.break {
	margin: 15px;
	height: 1px;
	background-color: #78797b;
	content: '';
}

.episode-list-heading {
	padding:20px;
}

.episode-list-container {
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #aeaeae;
	border-top: 1px solid #aeaeae;
}

.episode-body {
	margin-top: 20px;
	padding: 10px 20px 20px 20px;
	background-color: #f8f8f8;
	opacity: 0.9;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1000px;
	
  /* Set up proportionate scaling */
  width: auto;
  height: 100%;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
}

@media screen and (max-width: 1000px) {
  img.bg {
    left: 50%;
    margin-left: -500px;
  }
}
@media screen and (max-width: 700px) {
  img.bg {
    left: 50%;
    margin-left: -400px;
  }
}

.about-text {
	padding: 0px 20px 10px 20px;
}

.about-use-credits {
	padding: 0px 20px 10px 20px;
}

/* Bootstrap Custom Navbar coloring */

.navbar-default {
  background-color: #bc2020;
  border-color: #d33737;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fbfafa;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li {
  padding-left: 0px;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fbfafa;
  background-color: #d33737;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fbfafa;
  background-color: #d33737;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fbfafa;
  background-color: #d33737;
}
.navbar-default .navbar-toggle {
  border-color: #d33737;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d33737;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #fbfafa;
}

@media (max-width: 767px) {
/* 	We don't want the list items pulled right if on mobile */
	.pull-right { 
	  float: none !important;
	}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fbfafa;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fbfafa;
    background-color: #d33737;
  }
}